/*
 *
 * CSS Reset
 *
 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
 *
 * General Rules
 *
 */

body{
	font-family:font-family: 'Lato', sans-serif;

}

header#mainHeader{
	background-color: violet;
	width: 20vw;
	height: 100vh;
	position: fixed;
	padding: 25px;
}

header#mainHeader > img {
	width: 100%;
	margin-bottom: 25px;
	border:20px solid black;
}

header#mainHeader > nav >ul{
	list-style-type: none;
	text-align: center;
}


header#mainHeader > nav > ul > li {
	height: 50px;
	margin-bottom: 5px;
}
	
header#mainHeader > nav > ul > li > a {
	text-decoration: none;
	background-color: lightblue;
	line-height: 50px;
	display: block;
}	

header#mainHeader > nav > ul > li > a:hover {
	background-color: blue;
	color:white;
}
main#wrapper{
	background-color: gray;
	margin-left: 20vw;
	color:white;
}

section#home{
	background-color: red;
	height: 100vh;
	position: relative;
}

section#home > div {
	border: 3px solid white;
	width: 50%;
	padding: 25px;
	text-align: center;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}	


section#about{
	background-color: orange;
	min-height: 50vh;
}

section#about > p {
	padding: 0 25px 25px;
}	


section#services{
	background-color: yellow;
	min-height: 75vh;
	color: black;
	padding: 0 15px 15px;
	
}	

section#services > div {
	border: 2px solid black;
	padding: 15px;
	width: 33.33%;
	float: left;
}


section#services > div > img {
	width: 100%;
}	

section#projects{
	background-color: green;
/*	min-height: 100vh;*/
	padding: 0 15px 15px;
}

section#projects >div {
	border: 2px solid white;
	padding: 15px;
	width: 25%;
	float: left;
}

section#projects >div >img{
	width: 100%
}

section#contact{
	background-color: gray;
	height: 50vh;
}

section#contact > p {
	margin: 0 25px;
}	

footer#mainFooter{
	background-color: maroon;
	/*padding: 15px;
	text-align: center;*/
}

footer#mainFooter > div#left {
	width: 50%;
	/*display:inline-block;*/
	float: left;
	font-size: 12px;
	padding: 22px;
}

footer#mainFooter > div#right {
	width: 50%;
	/*display:inline-block;*/
	float: left;
	padding: 30px;
}

footer#mainFooter > div#right > ul {
	list-style-type: none;
	text-align: right;
}

footer#mainFooter > div#right > ul > li {
	display: inline-block;
	padding: 5px;
}


.clear:after {
	content: "";
	display: block;
	clear: both;
}






